<div id="mapping_niisubject<{$id}>">
	<div class="plr10 repositoryAdvancedSearchDiv">
		<table class="repositoryAdvancedSearchList" id='scList<{$id}>_table'>
		   <tr>
			 <td>
			 	<label for='scList<{$id}>_1'>
					<input type='checkbox' id='scList<{$id}>_1' value='1' >NIIsubject</br>
				</label>
			 </td>
			 <td>
			 	<label for='scList<{$id}>_2'>
					<input type='checkbox' id='scList<{$id}>_2' value='2' >NDC</br>
				</label>
			 </td>
			 <td>
			 	<label for='scList<{$id}>_3'>
					<input type='checkbox' id='scList<{$id}>_3' value='3' >NDLC</br>
				</label>
			 </td>
			 <td>
			 	<label for='scList<{$id}>_4'>
					<input type='checkbox' id='scList<{$id}>_4' value='4' >BSH</br>
				</label>
			 </td>
			 <td>
			 	<label for='scList<{$id}>_5'>
					<input type='checkbox' id='scList<{$id}>_5' value='5' >NDLSH</br>
				</label>
			 </td>
			 <td>
			 	<label for='scList<{$id}>_6'>
					<input type='checkbox' id='scList<{$id}>_6' value='6' >MeSH</br>
				</label>
			 </td>
		   </tr>
		   <tr>
			 <td>
			 	<label for='scList<{$id}>_7'>
					<input type='checkbox' id='scList<{$id}>_7' value='7' >DDC</br>
				</label>
			 </td>
			 <td>
			 	<label for='scList<{$id}>_8'>
					<input type='checkbox' id='scList<{$id}>_8' value='8' >LCC</br>
				</label>
			 </td>
			 <td>
			 	<label for='scList<{$id}>_9'>
					<input type='checkbox' id='scList<{$id}>_9' value='9' >UDC</br>
				</label>
			 </td>
			 <td>
			 	<label for='scList<{$id}>_10'>
					<input type='checkbox' id='scList<{$id}>_10' value='10' >LCSH</br>
				</label>
			 </td>
		   </tr>
		</table>
	</div>
	<input type='hidden' id='scList<{$id}>_id' name='scList' value=
		<{section name=table_rows loop=$action.detail_search_select_item}>
			<{if $action.detail_search_select_item[table_rows].type_id == 4}>
				<{$action.detail_search_select_item[table_rows].checkList}>
			<{/if}>
		<{/section}>
		 >
	<div class='ac ptb10' align='center'>
		<input aline='left' type='button' value='<{$lang.repository_next}>' class='btn_blue' onclick='javascript: scListDecision<{$id}>()' />
		<input aline='left' type='button' value='<{$lang.repository_cancel}>' class='btn_white' onclick='javascript: setCheckboxFromScListDesc<{$id}>()' />
	</div>
</div>
<script class='nc_script' type='text/javascript'>
	scListDecision<{$id}> = function() {
		var str = '';
		for(var ii=1; ii<=10; ii++) {
			if(document.getElementById('scList<{$id}>_' + ii).checked) {
				str += document.getElementById('scList<{$id}>_' + ii).value;
				str += ',';
			}
		}
		if(str) {
			str = str.slice(0, -1);
		}
		document.getElementsByName('scList')[0].value = str;
		var row_num = searchRowNum<{$id}>('niisubject');
		document.getElementById('mapping_list<{$id}>_' + row_num).style.display = 'none';
	}
</script>
<script class='nc_script' type='text/javascript'>
	setCheckboxFromScListDesc<{$id}> = function() {
		var subjectList = document.getElementById('scList<{$id}>_table').getElementsByTagName("input");
		for(ii = 0; ii < subjectList.length; ii++){
			subjectList[ii].checked = false;
		}
		var desc = document.getElementById('scList<{$id}>_id').value;
		if(desc == null){
			desc = "";
		}
		var descList = desc.split(",");
		for(var ii=0; ii<descList.length; ii++) {
			if(descList[ii] == ""){
				continue;
			}
			document.getElementById('scList<{$id}>_' + descList[ii]).checked = true;
		}
		var row_num = searchRowNum<{$id}>('niisubject');
		if(row_num < 0){
			return;
		}
		document.getElementById('mapping_list<{$id}>_' + row_num).style.display = 'none';
	}
	setCheckboxFromScListDesc<{$id}>();
</script>
<script class='nc_script' type='text/javascript'>
	clearMappingScList<{$id}> = function() {
		document.getElementById('scList<{$id}>_id').value = "";
		var typeList = document.getElementById('scList<{$id}>_table').getElementsByTagName("input");
		for(ii = 0; ii < typeList.length; ii++){
			typeList[ii].checked = false;
		}
	}
</script>
